<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="https://vignette.wikia.nocookie.net/avatar/images/8/82/Airbending_emblem.png/revision/latest?cb=20130729210446">
      </a>
      <button class="button navbar-burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">Home</a>
        <a href="/about.html" class="navbar-item" title="About">About</a>
        <a href="/entries.html" class="navbar-item" title="Post Archive">Entries</a>
        <a href="/books.html" class="navbar-item" title="Books">Books</a>
        <a href="/quotes.html" class="navbar-item" title="Quotes">Quotes</a>
      </div>
      <div class="navbar-end">
      </div>
    </div>
  </div>
</nav>
